<nav>
        <a href="https://webpages.charlotte.edu/eonamade">MyCharlottePage</a> ||
        <a href="https://github.com/Ayo456">Github</a> ||
        <a href="https://ayo456.github.io">Github.io</a> ||
        <a href="https://ayo456.github.io/itis3135">ITIS 3135.io</a> ||
        <a href="https://www.freecodecamp.org/eonamade-charlotte"
          >FreeCodeCamp</a
        >
        ||
        <a href="https://www.codecademy.com/profiles/EmanO456">Codecademy</a> ||
        <a href="https://www.linkedin.com/in/emmanuel-onamade-602632281"
          >LinkedIn</a
        >
      </nav>
      <p>
        Designed by
        <a href="onamadestudios.com/" target="_blank">Onamade Studios</a> © 2025
      </p>

      <a
      href="https://validator.w3.org/check?uri=referer"
      id="validation_link_html"
    >
      <img
        style="border: 0; width: 88px; height: 31px"
        src="https://mytienhoang.github.io/itis3135/z_archives/html_validation.png"
        alt="Valid HTML!"
      />
    </a>
    <a
      href="https://jigsaw.w3.org/css-validator/check/referer"
      id="validation_link_css"
    >
      <img
        style="border: 0; width: 88px; height: 31px"
        src="https://jigsaw.w3.org/css-validator/images/vcss"
        alt="Valid CSS!"
      />
    </a>
</nav>