<h1 class="header">Emmanuel Onamade || Eccentric Osprey || ITIS 3135</h1>
      <nav class="white-text">
        || <a href="index.html">Home</a> ||
        <a href="introduction.html">Introduction</a> ||
        <a href="contract.html">Contract</a> ||
        <a href="website_evaluations.html">Website Evaluations</a> ||
        <a href="fccfsjs_outline.html">FCC Full Stack JavaScript Outline</a> ||
        <a href="intro_form.html">BYO Intro Form</a> ||
        <a href="project_overview.html">Project Overview</a> ||
      </nav>

      <nav class="white-text">
      || <a href="eccentricosprey.com/">About</a> ||
        <a href="stuff/w%20E%20b%20P%20a%20G%20e~.html">My Crappy Site</a> ||
        <a href="hobby/index.html">Hobby</a> ||
        <a href="/itis3135/project/index.html">Client Project</a>
      </nav>