<h1 class="header">Emmanuel Onamade || Eccentric Osprey || ITIS 3135</h1>
      <nav class="white-text">
        <a href="index.html">Home</a> ||
        <a href="introduction.html">Introduction</a> ||
        <a href="contract.html">Contract</a> ||
        <a href="website_evaluations.html">Website Evaluations</a> ||
      </nav>

      <nav class="white-text">
        <a href="eccentricosprey.com/">About</a> ||
        <a href="stuff/w%20E%20b%20P%20a%20G%20e~.html">My Crappy Site</a>
      </nav>